.bodyy {
    background-image: url("assets/image/imag4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 65px;
    
}

.navbar-custom {
    background-color: rgb(119, 116, 116);
    
}

.text-bg-custom {
    background-color: rgb(39, 39, 39);
}

.custom-color{
    color: beige;
}

h1{
    text-shadow: 5px 5px 2px rgba(83, 83, 83, 0.9); /* Sombra de texto */
    text-align: center;
    color: beige;
    margin-bottom: 35px;
}

.accordion {
    width: 1000px; /* Ancho del acordeón */
    margin: 0 auto; /* Centrado */
}

.carousel-inner {
    padding-top: 35px;
    width: 400px; /* Puede ajustarse al 100% del contenedor padre */
    margin: 0 auto; /* Centrado */

}

